/* Kontaktformular */
#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: rgba(244, 240, 236, 0.8);
    border-radius: 3vw;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Formular Eingabefelder */
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #77978c8e;
    box-sizing: border-box;
    border-radius: 1vw;
    font-size: 1rem;
    color: #4D5053;
    font-family: Poppins, sans-serif;
    letter-spacing: 0.02em;
    line-height: 1.5;
    outline-color: rgba(68, 93, 85, 0.56);
}

/* Formular Labels */
#contact-form label {
    font-size: 1rem;
    padding-top: 2vw;
    padding-bottom: 2vw;
    color: #4D5053;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    letter-spacing: 0.02em;
}

/* Senden Button */
#contact-form input[type="submit"] {
    background-color: #4D5053;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 3vw;
    cursor: pointer;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 1rem;
}

/* Button Hover Stil */
#contact-form input[type="submit"]:hover {
    background-color: #77978cdc;
}

/* Textarea Feld */
#contact-form textarea {
    resize: vertical;
    min-height: 10rem;
}


@media (max-width: 768px) {
    #contact-form {
        border-radius: 4vw;
    }

    /* Formular Eingabefelder */
    #contact-form input[type="text"],
    #contact-form input[type="email"],
    #contact-form textarea {
        width: 90%;
        padding: 5px 5px;
        border-radius: 1vw;
        font-size: 2.5vw;
    }

    /* Formular Labels */
    #contact-form label {
        font-size: 3vw;
    }

    /* Senden Button */
    #contact-form input[type="submit"] {
        font-size: 3vw;
    }
}

@media (max-width: 480px) {
    #contact-form {
        margin: 5vw auto;
        width: 70%;
        padding: 2vw 5vw;
    }

    /* Formular Eingabefelder */
    #contact-form input[type="text"],
    #contact-form input[type="email"],
    #contact-form textarea {
        width: 100%;
        padding: 10px 10px;
        border-radius: 1vw;
        font-size: 4vw;
    }

    /* Formular Labels */
    #contact-form label {
        font-size: 4vw;
    }

    /* Senden Button */
    #contact-form input[type="submit"] {
        font-size: 4vw;
    }
}