.text-faq {
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.title-faq {
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.title-faq > #background-title {
    border-radius: 2vw;
}

/* Details / Summary Styling
 -----------------------------------------------------------------*/

details {
    background: rgba(244, 240, 236);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    color: #4D5053;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 1.2vw;
    letter-spacing: 0.02em;
    line-height: 1.8;
    word-wrap: break-word;
    display: block;
    text-align: center;
}

summary {
    cursor: pointer;
    text-align: center;
    font-size: 1.5vw;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    letter-spacing: 0.02em;
    list-style-position: outside;
    margin-left: 30px;
    padding: 2px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

summary .arrow {
    transition: 0.2s;
    width: 2vw;
    height: auto;
}

details[open] > summary .arrow {
    transform: rotate(90deg);
}

summary:hover,
summary:focus {
    color: #77978C;
}

@media (max-width: 1024px) {
    summary {
    font-size: 2vw;
    }
}

@media (max-width: 768px) {
    summary {
    font-size: 3vw;
    }
}

@media (max-width: 480px) {
    summary {
        font-size: 4vw;
        margin-left: 10px;
        padding: 5px 10px;
    }
    summary .arrow {
        width: 4vw;
        height: auto;
    }
}