/* FOOTER GENERAL
----------------------------------------------------------------------------------------------------------------------------------------*/

.footer-flex-container { /*Ganzer Footerblock */
    background-color:rgba(244, 240, 236);
    border-top: 3px solid #77978c8e; /*Rahmenlinie unten*/
    display: flex; /* Flexbox */
    justify-content: center;
    align-items: center;
    align-self: end;
    max-height: 230px;
}

.footer-flex-item {
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
}


/* FOOTER CONTACT & LEGAL
----------------------------------------------------------------------------------------------------------------------------------------*/

footer h2 {
    font-size: 1.2vw;
    font-weight: 300;
    text-decoration: none; /*Unterstriche entfernen*/
    text-transform: uppercase;
    text-align: center;
}


footer ul {
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 300;
    list-style-type: none;
    padding-inline-start: 0;
    text-align: center;
}


footer li {
    margin: 5px 0;
}

footer a {
    text-decoration: none;
    color: #4D5053;
}

/* FOOTER COPYRIGHT & LOGO
----------------------------------------------------------------------------------------------------------------------------------------*/

#footer-copyright > p {
    font-size: 0.6rem;
    font-weight: 300;
    list-style-type: none;
    padding-inline-start: 0;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 10px 0;
    box-shadow: none;
}

#footer-copyright {
    align-items: center;
}

#logo-footer {
    width: 7rem;
    height: auto;
}

@media (max-width: 768px) {
    .footer-flex-item {
        flex-basis: 100%;
    }

    footer ul {
        font-size: 2vw;
    }

    footer h2 {
        font-size: 2.5vw;
    }

    #logo-footer {
        width: 5rem;
        height: auto;
    }

    #footer-copyright > p {
        font-size: 1.5vw;
    }
}