/* FOOTER GENERAL
----------------------------------------------------------------------------------------------------------------------------------------*/

.footer-flex-container { /*Ganzer Footerblock */
    background-color:rgba(244, 240, 236);
    border-top: 3px solid #77978c8e; /*Rahmenlinie unten*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.footer-flex-item {
    display: flex;
    justify-content: center;
}

footer ul {
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 300;
    list-style-type: none;
    padding-inline-start: 0;
    text-align: center;
}

footer li {
    display: inline-block;
    margin: 0;
}

#footer-legal > ul > li:not(:last-child) {
    border-right: 1px solid #000;
    padding-right: 10px;
    margin: 5px;
}

#footer-legal > ul > li {
    font-size: .9vw;
}

#footer-social > ul > li {
    margin-right: 10px;

}
#footer-legal > ul > li > a {
    text-decoration: none;
    color: #4D5053;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    text-transform: uppercase;
}

#footer-legal > ul > li > a:hover {
    font-weight: 600;
    color: #4D5053;
}


#footer-copyright > p {
    font-size: 0.6rem;
    font-weight: 300;
    list-style-type: none;
    padding-inline-start: 0;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 10px 0;
    box-shadow: none;
}

#footer-copyright {
    align-items: center;
}

#logo-footer {
    width: 7rem;
    height: auto;
}

@media (max-width: 768px) {
    .footer-flex-item {
        flex-basis: 100%;
    }

    footer ul {
        font-size: 2vw;
    }

    #logo-footer {
        width: 5rem;
        height: auto;
    }

    #footer-copyright > p {
        font-size: 1.5vw;
    }
}

@media (max-width: 1024px) {
    #footer-legal > ul > li {
    font-size: 2vw;
    }
}