/* GALERIE FILTER
--------------------------------------------------------------------------------------------------------------------------------------------------*/

#filter-nav {
    border: 3px solid #77978c8e;
    background-color:rgba(244, 240, 236);
    border-radius: 20px;
    width: 80%;
    z-index: 4;
}

#filter-nav ul {
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    padding: 0;
    margin: 0;
    width: 100%;
}

#filter-nav ul li {
    flex: 1;
    list-style-type: none;
    text-align: center;
    font: 400 20px/1.5 Jost, serif; /* Kombiniert Font-Eigenschaften */
    position: relative;
    margin: 0;
}

#filter-nav ul li a {
    text-decoration: none;
    color: #333;
    border-radius: 30px;
    transition: background-color 0.3s;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#filter-nav ul li:hover a {
    background: rgb(231, 224, 217);
    color: #333;
    border-radius: 19px;
    text-decoration: none;
}

/* IMAGE GALLERY
--------------------------------------------------------------------------------------------------------------------------------------------------*/

#gallery {
    width: 100%; /* 3/4 der Breite der Seite */
    margin: 0 auto; /* zentriert das Element horizontal auf der Seite */
}

.gallery-flex-container {
    display: flex;
    justify-content: space-between; /* verteilt Elemente gleichmäßig im Container */
    flex-wrap: wrap; /* erlaubt Elementen in eine neue Linie zu gehen, wenn der Platz nicht ausreicht */
}

.image-container {
    flex-grow: 1;
    flex-basis: calc(33.33% - 20px); /* gibt jedem Bild 1/3 des Container Platzes und zieht 20px für den Abstand ab */
    margin-bottom: 20px; /* Abstand zwischen den Bildern vertikal  */
    position: relative;
    border-radius: 70px;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 70px;
    border: 1px solid #CDA274;
}

/* SUBTITLE IMAGES
--------------------------------------------------------------------------------------------------------------------------------------------------*/
.image-container figcaption {
    font-size: 0.8rem;
    color: #333;
    text-align: center;
    padding: 10px;
    width: 100%;
}

/* OVERLAY IMAGES
--------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Definiert die Position, die Größe und die Deckkraft des .overlay-image Elements und fügt eine Übergangseffekt hinzu */
.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

/* Ändert die Deckkraft des .overlay-image Elements beim Hover auf .image-item */
.image-container:hover .overlay-image {
    opacity: 1;
}


/* RESPONSIVE GALLERY
--------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 600px) {
    .image-container {
        flex-basis: calc(100% - 20px);
    }
}

@media screen and (min-width: 600px) {
    .image-container {
        flex-basis: calc(33.33% - 20px);
    }
}








