.text-content > p {
    display: inline-block; /* Damit <b> Text im Fließtext angezeigt wird */
}

section img {
    width: 100%;
    height: auto;
    margin-top: 3vw;
}

@media (max-width: 768px) {
    section img {
        display: block;
        width: 80%;
        height: auto;
        margin: 3vw auto;
    }
}







