/* NAVIGATION BAR
----------------------------------------------------------------------------------------------------------------------------------------*/

header { /*Ganzer Navigationsblock */
    align-items: center;
    background-color:rgba(244, 240, 236);
    border-bottom: 3px solid #77978c8e; /*Rahmenlinie unten vorher: #CDA274*/
    display: flex; /* Flexbox */
    justify-content: space-between; /* zentriert entlang der Hauptachse */
    margin: 0;
    padding: 0;
    position: fixed; /*Position beim Scrollen*/
    top: 0;
    width: 100%; /*Breite*/
    height: max-content;
    z-index: 5; /*bestimmt die Reihenfolge der Ebenen - höherer Index wird vor niedrigerem angezeigt*/
}

#logo_header {
    display: inline-block;
    margin-left: 240px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: 0;
    width: 12rem;
    height: auto;
}

header > nav > ul {
    letter-spacing: -0.5px;
    margin-right: 250px;
    padding: 0;
}

header > nav > ul > li { /*Abstand zwischen Navigationselementen*/
    box-sizing: border-box;
    display: inline-block; /*Elemente nebeneinander*/
    list-style-type: none; /*ohne Aufzählungspunkte*/
    margin: 0;
    padding: 10px; /*Innenabstand oben/unten, li/re*/
    position: relative;
    text-align: center;
    vertical-align: middle;
}


@media (max-width: 1490px) {
    #logo_header {
        margin-left: 5%;
    }

    header > nav > ul {
        margin-right: 0%;
    }

    header {
        justify-content: space-around;
    }
}

@media (max-width: 768px) {
    #logo_header  {
        padding-top: 3vw;
        padding-bottom: 1vw;
    }
}


/* NAVIGATIONSELEMENTE ALLGEMEIN
----------------------------------------------------------------------------------------------------------------------------------------*/

header > nav > ul > li:not(.instagram-nav):not(.pinterest-nav) a:not([aria-current]) { /*restliche Texteinstellungen Navigation*/
    box-sizing: border-box;
    color:black;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0;
    padding: 5px; /*damit Hover Effekt besser aussieht*/
    text-decoration:none; /*Unterstriche entfernen*/
    text-transform: uppercase;
    z-index: 2;
}

/* NAVIGATIONSELEMENT - AKTUELLE SEITE
----------------------------------------------------------------------------------------------------------------------------------------*/

[aria-current] {
    box-sizing: border-box;
    color: #4D5053;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0;
    padding: 10px; /*damit Hover Effekt besser aussieht*/
    text-decoration: none; /*Unterstriche entfernen*/
    text-transform: uppercase;
    z-index: 2;
}

/* SOCIAL LOGOS
----------------------------------------------------------------------------------------------------------------------------------------*/

.fab {
    color: rgba(105, 137, 126, 0.86);
    transition: color 0.5s ease;
}

.fa-beat-fade-hover:hover {
    animation: fa-beat-fade 1s infinite linear;
}

.instagram-nav > ul > li > a,
.pinterest-nav > ul > li > a {
    box-sizing: border-box;
    color: #445d55;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0;
    padding: 0; /*damit Hover Effekt besser aussieht*/
    text-decoration:none; /*Unterstriche entfernen*/
    text-transform: uppercase;
    z-index: 1;
}

/* HOVER EFFEKTE NAVIGATION
----------------------------------------------------------------------------------------------------------------------------------------*/

header > nav > ul > li:not(.instagram-nav):not(.pinterest-nav) a:after {
    content: '';
    background: rgb(231, 224, 217);
    border-radius: 30px;
    bottom: 0;
    display: block;
    height: 0;
    left: 0;
    margin: 0;
    position:absolute;
    transition: width 0.2s;
    width: 0;
    z-index: -3;
}

header > nav > ul > li:not(.instagram-nav):not(.pinterest-nav) a:hover:after {
    height: 100%;
    width: 100%;
}

/* RESPONSIVE NAVIGATION BAR
----------------------------------------------------------------------------------------------------------------------------------------*/

/* HAMBURGER MENU ICON */

.hamburger {
    display: block;
    position: relative;
    width: 40px;
    cursor: pointer;
    right: 2%;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before { /* pseudo- elemente */
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #77978c;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

/* MOBILE NAVIGATION STYLING */

.mobile-nav {
    align-items: center;
    background: rgb(250,246,242);
    border-bottom: 3px solid #77978c8e; /*Rahmenlinie unten vorher: #CDA274*/
    display: block; /* Flexbox */
    justify-content: space-between; /* zentriert entlang der Hauptachse */
    margin: 0;
    padding-top: 120px;
    position: fixed; /*Position beim Scrollen*/
    top: 0;
    left: 100%;
    width: 100%; /*Breite*/
    height: max-content;
    min-height: 100vh;
    z-index: 4;
    transition: 0.4s;

}

.mobile-nav.notransition { /* Effekt ausgeblendet wenn auf die vorherige Seite zurück gegangen wird */
  transition: none;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav > ul > li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 10px 0; /*Innenabstand oben/unten, li/re*/
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.mobile-nav > ul > li:not(.instagram-nav):not(.pinterest-nav) a:not([aria-current]) {
    color:black;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    text-decoration:none; /*Unterstriche entfernen*/
    text-transform: uppercase;
}

.mobile-nav [aria-current] {
    color: rgb(68, 93, 85);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    padding: 10px; /*damit Hover Effekt besser aussieht*/
    text-decoration: none; /*Unterstriche entfernen*/
    text-transform: uppercase;
    z-index: 2;
}


/* HOVER EFFECT MOBILE NAV BAR
------------------------------------ */

.mobile-nav > ul > li:not(.instagram-nav):not(.pinterest-nav) a:after {
    content: '';
    background: rgb(231, 224, 217);
    border-radius: 30px;
    bottom: 0;
    display: block;
    position: absolute;
    margin-left: 25%;
    margin-right: 20%;
    transition: width 0.2s;
    z-index: -3;
}

.mobile-nav > ul > li:not(.instagram-nav):not(.pinterest-nav) a:hover:after {
    height: 100%;
    width: 50%;
}

/* MEDIA QUERY MOBILE NAV
------------------------------------ */

    /* NORMALE NAVIGATION BEI KLEINEN BILDSCHIRMEN AUSBLENDEN */

    @media (max-width: 1199px) {
        header > nav {
            display: none;
        }

        #logo_header {
            margin-left: 0;
            margin-right: 50%;
            padding-top: 1vw;
            padding-bottom: 1vw;

        }

        .hamburger {
            position: absolute;
        }
    }

    /* MOBILE NAV & HAMBURGER EINBLENDEN */

    @media (min-width: 1200px) {

        .mobile-nav {
            display: none;
        }

        .hamburger {
            display: none;
        }

    }
