/* NAVIGATION BAR
----------------------------------------------------------------------------------------------------------------------------------------*/

#navigation { /*Ganzer Navigationsblock */
    align-items: center;
    background-color:rgba(244, 240, 236);
    border-bottom: 3px solid #77978c8e; /*Rahmenlinie unten vorher: #CDA274*/
    display: flex; /* Flexbox */
    justify-content: space-between; /* Centriert entlang der Hauptachse */
    margin: 0;
    padding: 0;
    position: fixed; /*Position beim Scrollen*/
    top: 0;
    width: 100%; /*Breite*/
    height: max-content;
    z-index: 5; /*bestimmt die Reihenfolge der Ebenen - höherer Index wird vor niedrigerem angezeigt*/
}

#logo_header {
    display: inline-block;
    margin-left: 240px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: 0;
    width: 12rem;
    height: auto;

}

#navigation ul {
    letter-spacing: -0.5px;
    margin-right: 250px;
    padding: 0;
}

#navigation ul li { /*Abstand zwischen Navigationselementen*/
    box-sizing: border-box;
    display: inline-block; /*Elemente nebeneinander*/
    list-style-type: none; /*ohne Aufzählungspunkte*/
    margin: 0;
    padding: 10px; /*Innenabstand oben/unten, li/re*/
    position: relative;
    text-align: center;
    vertical-align: middle;
}

/* NAVIGATIONSELEMENTE ALLGEMEIN
----------------------------------------------------------------------------------------------------------------------------------------*/

#navigation ul li:not(#instagram-nav):not(#pinterest-nav) a:not([aria-current]) { /*restliche Texteinstellungen Navigation*/
    box-sizing: border-box;
    color:black;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0;
    padding: 5px; /*damit Hover Effekt besser aussieht*/
    text-decoration:none; /*Unterstriche entfernen*/
    text-transform: uppercase;
    z-index: 2;
}

/* NAVIGATIONSELEMENT - AKTUELLE SEITE
----------------------------------------------------------------------------------------------------------------------------------------*/

[aria-current] {
    box-sizing: border-box;
    color: rgba(105, 137, 126, 0.86);
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0;
    padding: 10px; /*damit Hover Effekt besser aussieht*/
    text-decoration: none; /*Unterstriche entfernen*/
    text-transform: uppercase;
    z-index: 2;
}

/* SOCIAL LOGOS
----------------------------------------------------------------------------------------------------------------------------------------*/

.fab {
    color: #77978cdc;
    transition: color 0.5s ease;
}

.fa-beat-fade-hover:hover {
    animation: fa-beat-fade 1s infinite linear;
}

#instagram-nav ul li a,
#pinterest-nav ul li a {
    box-sizing: border-box;
    color:black;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0;
    padding: 0; /*damit Hover Effekt besser aussieht*/
    text-decoration:none; /*Unterstriche entfernen*/
    text-transform: uppercase;
    z-index: 1;
}

/* HOVER EFFEKTE NAVIGATION
----------------------------------------------------------------------------------------------------------------------------------------*/

#navigation ul li:not(#instagram-nav):not(#pinterest-nav) a:after {
    content: '';
    background: rgb(231, 224, 217);
    border-radius: 30px;
    bottom: 0;
    display: block;
    height: 0;
    left: 0;
    margin: 0;
    position:absolute;
    transition: width 0.2s;
    width: 0;
    z-index: -3;
}

#navigation ul li:not(#instagram-nav):not(#pinterest-nav) a:hover:after {
    height: 100%;
    width: 100%;
}

/* RESPONSIVE NAVIGATION BAR
----------------------------------------------------------------------------------------------------------------------------------------*/

.icon {
    display: none;
    cursor: pointer;
    z-index: 10;
}

#close-icon {
    display: none;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    left: 20px;
    top: 20px;
}

/* Hamburger Icon Styling */
.icon#hamburger-icon {
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 20px;
    top: 20px;
}

.icon#hamburger-icon .bar {
    width: 2rem;
    height: 0.25rem;
    background: #4D5053;
    border-radius: 10px;
    transition: all 0.3s linear;
}

/* Show Hamburger Icon and Hide Navigation Items on Smaller Screens */

@media (max-width: 1000px) {
    #navigation ul {
        display: none;
        height: 100vh; /* Set height to full viewport height */
    }

    #navigation {
    justify-content: center; /* Center the menu items */
    }

    .icon {
        display: flex;
    }

    #navigation ul.open {
        display: block;  /* change 'none' to 'block' */
    }

    .icon#hamburger-icon.open {
        display: none; /* Hide hamburger when navigation open */
    }
    #close-icon.open {
        display: flex; /* Show close-menu when open */
    }
    #logo_header.hidden {
    opacity: 0; /* Hide logo using opacity */
    }
}