/* FONT-FACE
----------------------------------------------------------------------------------------------------------------------------------------*/
@font-face {
        font-family: 'Roboto-Black';
        src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
        font-family: 'Roboto-Bold';
        src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
        font-family: 'Roboto-Light';
        src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
        font-family: 'Roboto-Medium';
        src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
        font-family: 'Roboto-Regular';
        src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
        font-family: 'Roboto-Thin';
        src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
        font-family: 'Poppins-Light';
        src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
        font-family: 'Poppins-Regular';
        src: url('../fonts/Poppins-Regular.ttf');
}

/* OVERALL PAGE LAYOUT
----------------------------------------------------------------------------------------------------------------------------------------*/

html {
    font-size: 20px; /* damit entspricht 1rem 20px */
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #F9F8F8;
}

body {
    display: grid; /* spannt Grid-Layout über ganzen Body auf */
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* FONTS GENERAL
----------------------------------------------------------------------------------------------------------------------------------------*/


    /* HEADINGS
    ------------------------------------------*/

    h1 {
        color: #4D5053;
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        word-wrap: break-word;
        z-index: 2;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    h2 {
        color: #4D5053;
        font-family: Poppins-Light, sans-serif;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 30px;
        word-wrap: break-word;
        text-align: center;
        z-index: 2;

    }

    h3 {
        font-family: Poppins-Light, sans-serif;
        font-size: 1.5rem;
        font-weight: 300;
    }


    /* TEXT BLOCKS
    ------------------------------------------*/

    p, article, aside, details {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        color: #4D5053;
        align-items: center;
        font-family: Poppins-Light, sans-serif;
        font-size: 1rem;
        letter-spacing: 0.5px;
        line-height: 30px;
        word-wrap: break-word;
        z-index: 3;

        background: rgba(244, 240, 236);
        border-radius: 70px;
        padding: 10px 30px;
        margin: 20px;
    }

    article > h2 {
        color: #4D5053;
        font-family: Poppins-Regular, sans-serif;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 30px;
        word-wrap: break-word;
        text-align: center;
        z-index: 2;
    }

    details {
        padding: 20px;
    }

    details > summary {
        font-family: Poppins-Regular, sans-serif;
        font-weight: 600;
        margin-bottom: 10px;
    }

/* MAIN SECTION
----------------------------------------------------------------------------------------------------------------------------------------*/

main {
    margin: 100px auto; /* setzt Abstand zur Navigationsleiste */
    max-width: 980px;
}




/* TITLE SECTIONS
----------------------------------------------------------------------------------------------------------------------------------------*/

#title-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 10px 0;
}

#background-title {
    border-radius: 70px;
    height: 100%;
    width: 100%;
    position: absolute;
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    z-index: 1;
}







