/* FONT-FACE
----------------------------------------------------------------------------------------------------------------------------------------*/
@font-face {
        font-family: 'Roboto-Black';
        src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
        font-family: 'Roboto-Bold';
        src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
        font-family: 'Roboto-Light';
        src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
        font-family: 'Roboto-Medium';
        src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
        font-family: 'Roboto-Regular';
        src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
        font-family: 'Roboto-Thin';
        src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
        font-family: 'Poppins-Light';
        src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
        font-family: 'Poppins-Regular';
        src: url('../fonts/Poppins-Regular.ttf');
}

/* OVERALL PAGE LAYOUT
----------------------------------------------------------------------------------------------------------------------------------------*/

html {
    font-size: 20px; /* damit entspricht 1rem 20px */
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(250,246,242);
    background: radial-gradient(circle, rgba(250,246,242,1) 75%, rgba(119,151,140,0.86) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    /* https://cssgradient.io/ */

}

body {
    display: grid; /* spannt Grid-Layout über ganzen Body auf */
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* FONTS GENERAL
----------------------------------------------------------------------------------------------------------------------------------------*/


    /* HEADINGS
    ------------------------------------------*/

    h1 {
        color: #4D5053;
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        word-wrap: break-word;
        z-index: 2;
        margin-bottom: 0;
        margin-top: 0;
    }

    h2 {
        color: #4D5053;
        font-family: Poppins-Light, sans-serif;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 0.02em;
        line-height: 1.5; /* line-height ist das 1.5-fache der aktuellen Schriftgröße des Elements */
        word-wrap: break-word;
        text-align: center;
        z-index: 2;

    }

    h3 {
        font-family: Poppins-Light, sans-serif;
        font-size: 1.5rem;
        font-weight: 300;
    }


    /* TEXT BLOCKS
    ------------------------------------------*/

    p, article, aside, details {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        color: #4D5053;
        align-items: center;
        font-family: Poppins-Light, sans-serif;
        font-size: 1rem;
        letter-spacing: 0.02em;
        line-height: 1.8;
        word-wrap: break-word;
        z-index: 3;

        background: rgba(244, 240, 236);
        border-radius: 3vw; /* % der Viewport-Breite */
        padding: 2%; /* 2% der Breite des Elements */
        margin: 2%; /* 2% der Breite des Elements */
    }

    article > h2 {
        color: #4D5053;
        font-family: Poppins-Regular, sans-serif;
        font-weight: 600;
        letter-spacing: 0.02em;
        line-height: 1.8;
        word-wrap: break-word;
        text-align: center;
        z-index: 2;
    }

    details {
        padding: 2%;
    }

    details > summary {
        font-family: Poppins-Regular, sans-serif;
        font-weight: 600;
        margin-bottom: 2%;
    }

/* MAIN SECTION
----------------------------------------------------------------------------------------------------------------------------------------*/

main {
    margin: 15vh auto; /* Setzt den Abstand zur Navigationsleiste auf 15% der Viewporthöhe */
    max-width: 46em;
}


/* TITLE SECTIONS
----------------------------------------------------------------------------------------------------------------------------------------*/

#title-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 2% 2%;
}

#background-title {
    border-radius: 4vw;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}







